body{background:#fff;}
header{background: #fff;font-size:1em;}
.navbar-brand img{width:40px;}
a{text-decoration:none;}
.table .img-wrapper{position:relative;padding-bottom:23.3333%;height:0;width:100%;}
.table .img-wrapper img{position:absolute;top:0;left:0;width:100%;}
footer span{margin:0 2rem;}
